<!-- components/footer.html -->
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <p>&copy; 2025 Master Herramientas y Servicios. Todos los derechos reservados.</p>
              <p>Email: <a href="mailto:masterenherramientasyservicios@gmail.com"
                  class="text-white">masterenherramientasyservicios@gmail.com</a></p>
              <p>Dirección: CRA 23 #36-48 Barrio: El Rodeo, Cali, Colombia</p>
              <p>Teléfonos: <a href="tel:3165345675" class="text-white">3165345675</a> - <a href="tel:3155500169"
                  class="text-white">3155500169</a></p>
            </div>
            <div class="col-md-6 text-md-end">
              <p>Síguenos en:</p>
              <a href="https://www.facebook.com/masters.herramientas/" class="text-white me-3" aria-label="Facebook"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/masterenherramientasyservisios/" class="text-white me-3"
                aria-label="Instagram" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
              <a href="https://www.tiktok.com/@tusuario" class="text-white" aria-label="TikTok" rel="noopener noreferrer"><i
                  class="fab fa-tiktok"></i></a>
            </div>
          </div>
    </div>
  </footer>